body {
  font-family: "Roboto", sans-serif;
  margin: 0 auto;
}

.top-area {
  display: flex;
}

.special-text {
  color: #ff5959;
}

.special-border {
  border-left: 5px solid crimson;
  padding-left: 10px;
}

.half-width img {
  width: 80%;
}

.half-width h1 {
  font-size: 50px;
}
.half-width p {
  color: #414141;
  padding: 10px 0px;
}

.half-width {
  width: 100%;
  padding: 0px 100px;
  margin-top: 50px;
}

.link-button {
  text-decoration: none;
  padding: 15px 30px;
  background-color: crimson;
  color: white;
  border-radius: 8px;
}

.second-section h1 {
  text-align: center;
  font-size: 50px;
}

.second-area {
  display: flex;

  margin: 0px 100px;
}

.card-1 img,
.card-2 img,
.card-3 img {
  width: 30%;
}

.card-1 {
  width: 100%;
  margin: 0px 15px;
  padding: 20px;
  border-radius: 15px;
  background-color: #edf5f6;
}
.card-2 {
  width: 100%;
  margin: 0px 15px;
  padding: 20px;
  border-radius: 15px;
  background-color: #ffeeee;
}
.card-3 {
  width: 100%;
  margin: 0px 15px;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff4d6;
}

.third-area {
  display: flex;
  background-image: url(images/shape-1.png);
  background-repeat: no-repeat;
  background-size: 15%;
  background-position: left;
}

.four-section {
  background-image: url(images/shape-1.png);
  background-repeat: no-repeat;
  background-size: 20%;
  background-position: right bottom;
}

footer {
  text-align: center;
  background-color: #0b0d17;
  padding: 40px;
  color: white;
}

footer h1 {
  font-family: "Lobster", cursive;
  color: white;
}

.bonus-area {
  text-align: center;
  padding: 50px;
}

.bonus-area h1 {
  font-size: 50px;
}
.input-field {
  width: 400px;
  padding: 19px;
}

.submit-button {
  padding: 20px 40px;
  background-color: crimson;
  color: white;
  border: none;
  font-weight: bold;
}
